<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReelDown</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 overflow-hidden"  style="background-image: url(https://images.unsplash.com/photo-1720247522780-db8ba86cbfef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
   
    <div><h1 class="text-white font-bold text-3xl mt-4">ReelDown</h1></div>
   
    <div class="h-screen w-full flex items-center justify-center">
    <div class="bg-opacity-1 p-8 rounded shadow-md text-center">


        <h1 class="text-3xl font-bold text-white  mb-4">Download Instagram Reels</h1>
        <p class="text-xl font-bold text-white  mb-4">Paste the URL of the Instagram reel and press to download in HD</p>


        <form id="downloadForm" class="flex flex-col items-center">
            <input type="text" id="url" name="url" placeholder="Enter Instagram URL" required class="border-white outline-none border-0 w-full rounded-xl p-2 mb-4">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Download</button>
        </form>
    </div>
</div>
    <script>
        document.getElementById('downloadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const url = document.getElementById('url').value;
            window.location.href = `/download?url=${encodeURIComponent(url)}`;
        });
    </script>
</body>
</html>
